@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body
{
    margin: 0;
    padding: 0;
}

html
{
    height: 100%;
}

body
{
    min-height: 100%;
}

#__next
{
    min-height: 100vh;
}

div[role="tooltip"]
{
    left: -25px!important;
}

%flex
{
    display: flex!important;
}

.flex
{
    @extend %flex;
}

.row
{
    @extend %flex;
    flex-direction: row!important;
}

.col
{
    @extend %flex;
    flex-direction: column!important;
}

.none
{
    display: none;
}

.center
{
    text-align: center;
}

.left
{
    text-align: left;
}

.right
{
    text-align: right;
}

.justify-center
{
    justify-content: center;
}

.justify-space-between
{
    justify-content: space-between!important;
}

.align-center
{
    align-items: center;
}

.hover
{
    &:hover
    {
        cursor: pointer;
    }
}

.wrap
{
    flex-wrap: wrap;
}

.slightly-bold
{
    font-weight: 500!important;
}

.bold
{
    font-weight: bold!important;
}

.black
{
    color: black!important;
}

.width-100
{
    width: 100%;
}